#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

html, body {
  height: 100%;
}

#password-box {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#password-confirm {
  direction: rtl;
}